@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
/* layout */

body {
  background: #e9eaf1;
  margin: 0;
  font-family: "Poppins";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}
.error-msg-box{
  color: #fc8181;
  border:2px solid#fc8181;
  text-align: center;
  margin-top: 0.25rem;
}
button {
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: #4299e1;
  color: #1a202c;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

input.input-error,
select.input-error {
  border-color: #fc8181;
}

button:disabled {
  opacity: 0.35;
}

.bg-white{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.res-table{
 overflow-x:auto;
}
.sr-only{
  display: none!important;
}
.table{
  display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.table tbody thead {
  display: table;
  width: 100%;
}
.page-not-found{
  font-size: 72px;
  font-weight: 900;
}
.badge{
  cursor: pointer;
}
.shadow-sm-color {
  box-shadow: 0 0.125rem 0.25rem #0d6efd!important;
}
.form-switch .form-check-input{
  display: none!important;
}
.dropdown-menu{
  min-width: auto!important;
}